<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905775505311-45b2793ilm3k22kqoi188uq44of1l8mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905775505311-45b2793ilm3k22kqoi188uq44of1l8mv</string>
	<key>API_KEY</key>
	<string>AIzaSyDlOOtFFeYrRaJbmvMwhWk1YZT_LtM1Zvg</string>
	<key>GCM_SENDER_ID</key>
	<string>905775505311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.demoios</string>
	<key>PROJECT_ID</key>
	<string>fir-locations-d5c3c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-locations-d5c3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905775505311:ios:48595c5c8cb1ba0ab127aa</string>
	<key>DATABASE_URL</key>
	<string>https://fir-locations-d5c3c.firebaseio.com</string>
</dict>
</plist>